* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	scroll-behavior: smooth;
}
body {
	font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
ul, ul.nav {
	list-style: none;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #222;
    color: white;
}
.nav {
    display: flex;
    gap: 20px;
}

.nav a {
    text-decoration: none;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.nav a:hover {
    background-color: #555;
}
.socials a img {
    width: 20px;
    height: 20px;
    margin-left: 10px;
}

#Home {
    position: relative;
    height: 100vh;
    background: url('images/') no-repeat center center/cover;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}